.pres-form {
  max-width: 500px;
  min-height: 50vh;
  margin: 80px auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  color: rgba(0, 122, 255, 255);
  text-align: center;
  font-weight: 400;
}
.add-pres {
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 122, 255, 255);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.add-pres:hover {
  background-color: white;
  color: rgba(0, 122, 255, 255);
  border: 1px solid rgba(0, 122, 255, 255);
}
.presbtn {
  margin-top: 10px;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 122, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btnpres {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
