.appointments {
  display: flex;
  gap: 35px;
  margin: 30px auto;
}
.appointment-card {
  width: 45%;
  height: 250px;
  box-shadow: 0px 0px 10px 10px rgb(230, 230, 230);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
}
.prescriptionbtn {
  margin-top: 40px;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 122, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.appointment-card p {
  margin-top: 10px;
}
.appointment-card span {
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.homebtnbox {
  display: flex;
  justify-content: flex-end;
}
.homebtn {
  width: 30%;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 122, 255, 255);
  margin: 20px;
  gap: 10px;
  font-weight: 400px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
